{
  "aws": {
    "AWS_ACCESS_KEY_ID": "...",
    "AWS_AVAILABILITY_ZONE_NAT": "us-east-1a",
    "AWS_AVAILABILITY_ZONE_1": "us-east-1a",
    "AWS_AVAILABILITY_ZONE_2": "us-east-1b",
    "AWS_DEFAULT_REGION": "us-east-1",
    "AWS_SECRET_ACCESS_KEY": "..."
  },
  "common": {
    "AWS_SUBNET_NAT": "11.0.0.0/18",
    "AWS_SUBNET_1": "11.0.64.0/18",
    "AWS_SUBNET_2": "11.0.128.0/18",
    "AWS_VPC": "11.0.0.0/16",
    "PHASE": "dv"
  }
}
