{
  "aws": {
    "AWS_ACCESS_KEY_ID": "...",
    "AWS_AVAILABILITY_ZONE_NAT": "ap-northeast-2a",
    "AWS_AVAILABILITY_ZONE_1": "ap-northeast-2a",
    "AWS_AVAILABILITY_ZONE_2": "ap-northeast-2c",
    "AWS_DEFAULT_REGION": "ap-northeast-2",
    "AWS_SECRET_ACCESS_KEY": "..."
  },
  "common": {
    "AWS_SUBNET_NAT": "11.0.0.0/18",
    "AWS_SUBNET_1": "11.0.64.0/18",
    "AWS_SUBNET_2": "11.0.128.0/18",
    "AWS_VPC": "11.0.0.0/16",
    "PHASE": "dv"
  }
}
